<div class="row">
  <div class="col-12 text-center">
    <table id="game-stats">
    <tr>
      <td>Words typed:</td>
      <td> <%= @words_typed %> </td>
    </tr>
    <tr>
      <td>Words per minute:</td>
      <td> <%= @wpm %> </td>
    </tr>
    <tr>
      <td>Error count:</td>
      <td> <%= @error_count %> </td>
    </tr>
    </table>
  </div>

  <div class="col-12 text-center">
    <button type="button" class="btn btn-dark" phx-click="retry">
      Retry
    </button>
  </div>
</div>